<div class="book">
  <h2>Below is a list of all available books</h2>
  
  <div class="container">

    <% @books.each do |book| %>

    <table>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Release date</th>
        <th>Book's ID</th>
      </tr>
      <tr>
        <td><%= link_to "#{book.name}", book %></td>
        <td><%= link_to book.author, book %></td>
        <td><%= link_to book.release_date, book %></td>
        <td><%= link_to book.book_id, book %></td>
      </tr>
    </table>

    <% end %>

  </div>
</div>